<div class="footer-widgets">
	<div class="inner-wide">
		<div class="widget-area">
			<div class="footer-col first">
				<aside class="widget widget-recent-posts">
					<h2 class="widget-title">Latest Posts</h2>
					<div class="recent-posts"></div>
				</aside><!-- .widget -->
			</div>
       </div><!-- .widget-area -->
	</div><!-- .inner-wide -->
</div><!-- .footer-widgets -->

<footer class="site-footer">
	<div class="footer-top">
		<div class="inner-wide">
			<div class="offsite-links">
				{{#if @blog.twitter}}<a href="{{twitter_url}}" class="icon-twitter"><span class="screen-reader-text">Twitter</span></a>{{/if}}
				{{#if @blog.facebook}}<a href="{{facebook_url}}" class="icon-facebook"><span class="screen-reader-text">Facebook</span></a>{{/if}}
				<a href="{{@blog.url}}/rss/" class="icon-feed"><span class="screen-reader-text">RSS</span></a>
			</div><!-- .offsite-links -->
			<a href="#page" class="top-link square icon-chevron-up" title="Back to Top"><span class="screen-reader-text">Back to the top</span></a>
		</div><!-- .inner -->
	</div><!-- .footer-top -->
	<div class="site-info inner-wide">
		<p>&copy; 2008 - <script type="text/javascript">
  document.write(new Date().getFullYear());
</script> <a href="/">{{@blog.title}}</a> all rights reserved. <br /></p>		
	</div><!-- .site-info -->
</footer><!-- .site-footer -->
