<div class="sidebar">
	<div class="sidebar-scrollable">
		<div class="widget-area">
			{{#if @blog.navigation}}
				{{navigation}}
			{{/if}}
			<aside class="widget widget-text">
				<h2 class="widget-title">About {{@blog.title}}</h2>
				<p>Chromis Technology are seasoned telephony consultants who take the time to craft a custom telephony solution based on you, the customer's needs. Not our own sales agendas. We will never try to shoehorn a customer into a solution that's not right for them. Our portfolio includes Digium Switchvox, CityHosted SIP and hosted products, and modern telephony solutions using custom WebRTC programming. For more information <a href="https://chromistechnology.com/voip/">click here</a>.</p>
			</aside>
						<aside class="widget widget-text">
				<h2 class="widget-title">Contact</h2>
				<ul class="contacts">
					<li><span class="icon icon-envelope" aria-hidden="true"></span> info [at] chromis.com</li>
					<li><span class="icon icon-map-marker" aria-hidden="true"></span>1430 W. Broadway Road, Suite 126, Tempe, AZ 85282</li>
					<li><span class="icon icon-phone" aria-hidden="true"></span> +602 357 8070</li>
					<li><span class="icon icon-phone" aria-hidden="true"></span> <a href="http://phonex.io/phonex"></a>Web Browser</a></li>
				</ul>
			</aside>
			<!-- .widget -->
			{{!-- Email subscribe form --}}
			{{#if @labs.subscribers}}
			<aside class="widget widget-subscribe">
				<h2 class="widget-title">{{@blog.title}} Newsletter</h2>
				<p>Enter your email address to subscribe to this blog and receive notifications of new posts by email.</p>
				{{subscribe_form form_class="gh-subscribe-form" placeholder="Your email address"}}
			</aside>
			<!-- .widget -->
		</div><!-- .widget-area -->
		<a class="sidebar-toggle"><span class="screen-reader-text">Close Sidebar</span><span class="icon" aria-hidden="true"></span></a>
	</div><!-- .sidebar-scrollable -->
</div><!-- .sidebar -->
